body {
    margin: 0;
    padding: 0;
    background-color: sienna;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: white;
}

.audio-player {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.bottom-gradient {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, black, transparent);
    height: 70vw;
    width: 100%;
    color:white;
    font-size: 3vmax;
}

.song-title {
    position: inherit;
    width: 100%;
    bottom: 20vh;
    margin-top: 5vh;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-play {
    background-color: whitesmoke;
    border-radius: 3vh;
    width: 10vh;
    height: 10vh;
    margin-left: 25vw;
    vertical-align: middle;
    transition: 100ms;
}

.player-play:hover {
    filter: brightness(90%);
}

.player-play:active {
    filter: brightness(70%);
}

.player-progress {
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 5vh;
    width: 35vh;
    height: 5vh;
    margin-left: 4vw;
    appearance: none;
    outline: none;
    transition: 100ms;
    cursor: pointer;
    vertical-align: middle;
}

.player-progress::-webkit-slider-thumb {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    background-color: aquamarine;
}

.player-progress::-moz-range-thumb {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    background-color: aquamarine;
}

.player-progress:hover {
    background-color: antiquewhite;
}

.player-prog-p {
    font-size: larger;
    display: inline-block;
    margin-left: 1vw;
    vertical-align: middle;
}

.bottom-controls {
    width: 100%;
    height: 30vh;
    padding-top: 2vh;
    position: inherit;
    bottom: 0;
}

.home-a {
    position:inherit;
    left: 0;
    top: 0;
    color:white;
    margin: 1.5vmax;
    font-size: large;
}

.head-panel {
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: black;
    overflow: hidden;
    top: 0;
    display: flex;
}

.head-panel-title {
    font-size: large;
    padding-left: 2vw;
    padding-right: 3vw;
}

.head-panel-link {
    margin: 0;
    padding: 0;
    border-right: 1px solid sandybrown;
    text-decoration: none;
    background-color: saddlebrown;
    width: 10vw;
    height: 100%;
    transition: all 100ms;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.head-panel-link:last-of-type {
    border: none;
}

.head-panel a:hover {
    background-color: brown;
}

.content {
    margin-top: 15vh;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 5vh;
    margin-top: 5vh;
    background-color: black;
    color: white;
    width: 100%;
    font-size: small;
    text-align: center;
}

.player-rating-area {
    position: inherit;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.rating-star {
    width: 10vw;
    height: 10vw;
    margin-left: 4vw;
    transition: 100ms;
}

.rating-star:hover {
    filter: brightness(70%);
}

.rating-star:first-of-type {
    margin-left: 14vw;
}

@media only screen and (max-width: 768px) {
    .head-panel {
        height: 20vmin;
    }
    .head-panel-link {
        width: 20vmin;
    }
    .player-play {
        width: 7vh;
        height: 7vh;
        border-radius: 2vh;
        margin-left: 10vw;
    }

    .player-progress {
        width: 50vw;
        height: 10vw;
    }

    .player-prog-p {
        font-size: normal;
        text-align: center;
        width: 100%;
    }

    .player-progress::-webkit-slider-thumb {
        width: 10vw;
        height: 10vw;
    }

    .player-progress::-moz-range-thumb {
        width: 10vw;
        height: 10vw;
    }

    .rating-star {
        width: 13vw;
        height: 13vw;
        margin-left: 5vw;
    }
    
    .rating-star:first-of-type {
        margin-left: 5vw;
    }
}
